<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <%= button_to 'Logout', session_url, method: :delete %>
      <% else %>
        <%= link_to 'Login', new_session_url %>
        <%= link_to 'Register', new_user_url %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
